# Ignore log files
*.log

# Ignore temporary files
temp/

# Ignore environment variable files
*.env
!template.env

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

version_getter.py

dist/
build/
*.egg-info/
